@font-face {
    font-family: Momcake;
    src: url(Momcake-Bold.otf);
}
body{
    margin: auto;
}
ul{
    list-style: none;
    margin: auto;
    padding: 0;
}
.logo h1{
    margin: auto;
}
.navigasi {
    position: absolute;
    color: white;
}
.topbar{
    padding-right: 50px;
    margin-right: 3px;
    font-family: Momcake;
    font-size: 24px;
    display: flex;
}
.headline li{
    margin-bottom: -10px;
}

.menu ul{
    display: flex;
    font-weight: bold;
    padding-top: 15px;
}
.menu {
    padding-left: 65px;
    padding-top: 19px;
    padding-bottom: 19px;
    opacity: 75%;
}
.menu li{
    padding-right: 13px;
    margin-right: 3px;
    padding-left: 20px;
    font-family: Momcake;
    font-size: 25px;
    color: white;
}
.headline-first {
    background-image: url(bhjkkjl.png);
    width: 100%;
    display: flex;
    height: 100vh;
    background-position: right;
    background-size: cover
}
.headline{
    font-size: 76px;
    font-weight: bold;
    font-family: Momcake;
    color: white;
    margin-top: 132px;
}
.text{
    position: absolute;
    color: black;
    opacity: 75%;
    padding-left: 80px;
}
.deskripsi{
    color: white;
    font-size: 21px;
    padding-top: 40px;
}
.container {
    padding: 100px;
}
.logo {
    padding-top: 171px;
}
.logo img{
    width:25px;
    height: 25px;
    padding-right: 15pt;
}
.putih{
    width: 100%;
    height: 100%
}
.putih img{
    width: 579px;
    height: 470.195px;
    margin-top: 123;
    margin-left: 81.4;
}
.title {
    font-family: Momcake;
    margin-top: -356px;
    font-size: 46px;
    padding-bottom: 9;
    margin-left: 668px;
}
.desc {
    font-size: 19px;
    margin-left: 668px;
}
.seemore img{
    height: 46px;
    margin-top :-278px;
    padding-bottom: 47px;
    margin-left: 668px;
}
.putih2 {
    width: 100%;
    height: 83%
}
.putih2 img {
    height: 501px;
    width: 1268px;
    padding-left: 49px;
}